//importar tipografia
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');


//fuentes
$main-font: 'IBM Plex Sans Condensed', sans-serif;
$second-font: 'Ubuntu', sans-serif;


//Gutter
$gutter: 1em;

//convertir px a rem
@function em($el){
  @return ($el/16px) * 1rem;
}

//convertir px a em
@function em($el,$parent:16px){
  @return ($el/$parent) * 1em;
}



$font-size: em(14px);
$h3-size: $font-size * 1.15;
$h2-size: $font-size * 1.35;
$h1-size: $font-size * 1.7;
$big: $font-size * 3;
$form: $font-size * 1.25;
$form-input: $font-size * 1.05;

// z index variables
$z-index: (
        tooltip: 100,
        modal: 500,
        overlay: 700,
        offcanvas: 1000,
);

@function z-index($val){
  @return map-get($z-index,$val);
}


$colors: (
        azul-base: #00B1F3,
        azul-oscuro: #03151F,
        azul-medio: #006BAB,
        azul-claro: #29DAFF,
        azul-produndo-cielo: deepskyblue,
        rojo: #FF3532,
        rojo-claro: #FF4946,
        gris-oscuro: #19242B,
        gris-claro: #CFD3DE,
        success: #00CB30,
        blanco: #ffffff,
        verde-go: #18A37A,
        verde-go-hover: #44BE8B,
        warning: #FFF7C7
);

@function color($color){
  @return map-get($colors,$color);
}
