@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  background: #2c3e50;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3498db, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "sidebar main" "sidebar footer";
  height: 100vh;
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-main {
  grid-area: main;
}

.grid-footer {
  grid-area: footer;
}

.grid-main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "add boveda" "stats boveda";
  padding: 20px 10px 0 0;
}

.grid-add {
  grid-area: add;
}

.grid-boveda {
  grid-area: boveda;
}

.grid-stats {
  grid-area: stats;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  text-align: center;
  padding: 1em;
}

.login__title {
  color: #ffffff;
  font-size: 2.625em;
  text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
}

.login__title span {
  color: deepskyblue;
}

.login__description {
  font-family: "Ubuntu", sans-serif;
  color: #CFD3DE;
}

.login__ico {
  font-size: 3em;
  color: #19242B;
  text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
}

.login__form__input {
  font-size: 1.09375em;
  padding: .5em;
  display: flex;
  margin: 0 auto;
}

.login__form__input input {
  background: #CFD3DE;
  padding: .5em;
  border: none;
  width: 100%;
  font-size: 0.91875em;
  color: #006BAB;
}

.login__form__input__i {
  background: #CFD3DE;
  padding: .5em;
  font-size: 0.91875em;
  color: #006BAB;
}

.login__form__input__btn {
  margin-top: 1em;
}

.sidebar {
  background: #141E30;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #CFD3DE;
  height: 100vh;
}

.sidebar__profile {
  text-align: center;
  padding: 30px 0;
}

.sidebar__content {
  border-top: 1px solid gray;
  text-align: left;
  padding: 30px 0;
}

.sidebar__content li {
  margin: 5px;
  padding: 10px 5px;
}

.sidebar__content li:hover {
  background: #CFD3DE;
  color: #19242B;
  border-radius: 4px;
}

.sidebar__content li:hover a {
  color: #19242B;
  border-left: 5px solid #00B1F3;
}

.sidebar__content a {
  color: #CFD3DE;
  padding: 10px 25px 5px 10px;
  font-size: small;
}

.sidebar__content a i {
  color: #006BAB;
  margin-right: 10px;
  font-size: medium;
}

.sidebar__footer {
  padding: 30px 10px 10px 10px;
  font-size: small;
  margin-top: 90px;
}

.sidebar__footer ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.sidebar__footer li {
  margin: 20px 20px 0 5px;
}

.sidebar__footer li:hover {
  color: #CFD3DE;
  border-bottom: 2px solid #00B1F3;
}

.sidebar__footer li:hover a {
  color: #CFD3DE;
}

.sidebar__footer a {
  color: gray;
}

.button {
  font-family: "Ubuntu", sans-serif;
  padding: .8em 3em;
  color: #19242B;
  border: none;
  cursor: pointer;
}

.btn-go {
  background: #18A37A;
}

.btn-go:hover {
  background: #44BE8B;
}

.warning {
  background: #FFF7C7;
  padding: .3em .5em;
  color: #19242B;
  border-radius: .4em;
  margin: .5em;
}

.warning i {
  color: orange;
  font-size: 1.2em;
}

.warning p {
  margin: .2em;
}

.content-item {
  background: #CFD3DE;
  font-size: 1.18125em;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.content-item__title {
  padding: 10px;
  background: #3a7bd5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content-item a {
  color: #CFD3DE;
}

/*# sourceMappingURL=styles.css.map */
